<!DOCTYPE html> 
<style type="text/css"> 
div{ 
    font-size: 15px;
    line-height: 1.5em;
    }
h1{
    font-weight:100
}
/* input{
    color: white;
    background-color:#F0B22E;
    } */
</style>
<body>
    <script type = "text/javascript">
        function showAny(){
            var data =" https://www.w3schools.com/tags/tag_img.asp"
            document.getElementById().innerHTML=data;
        }
    </script>
    <center>
    <img src="https://www.tuv.com/content-media-files/master-content/services/ict-business-solutions/1056-tuv-rheinland-e-mail-content-security-filter/tuv-rheinland-e-mail-content-security-filter_core_2_2_1.jpg"  width="400" height="130" style=" margin-top: 100px;">
   
       <h1>Email Confirmation</h1>
   
       <div> Hey Mara,you're almost ready to start enjoying Hailo.<br>
             Simply click the big yellow button below to verify your<br>
                      email address. </div><br>
                      <a href="https://www.w3schools.com/tags/tag_img.asp">click</a>
                        <button style="background-color:#F0B22E;" onclick = "showAny()">verify email address</button> 
                    </center>
</body>

</html>